#video {
    background: #666;
    height: 360px;
    width: 640px;
    padding: 6px;
}


.col-xs-3 {
    margin-left: 500px;
}

.film_description {
    width: 300px;
}

#description_column .col-xs-3 {
    margin-left: 600px;
}

.film_description {
    width: 450px;
}
