@model Product
<form id="@Model.ProductID" asp-action="AddToCart" style="width:100%"
      asp-controller="Cart" method="post">
    <input type="hidden" asp-for="ProductID" />
    <input type="hidden" name="returnUrl"
           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
    <span class="lead">

        <button type="submit" class="btn btn-success btn-sm">
            Order
        </button>
    </span>
</form>